{% extends 'base.html' %}
{% block title %}
User Authentication
{% endblock %}
{% block header %}
<div class="d-flex flex-wrap gap-3 mx-auto" style="width: 480px;">
<p class="h1">SECRET </p>
</div>
{% endblock %}
{% block content %}
<div class="d-flex flex-wrap gap-3 mx-auto" style="width: 480px;">

{% block messages %}
{% endblock %}

YOU MADE IT TO SECRET
<div class="d-flex flex-wrap gap-3 mx-auto" style="width: 480px;">
  <button type="submit" class="btn btn-secondary"
		  onclick="location.href='/logout'">
    Logout
  </button>
</div>
{% endblock %}

{% block javascript %}
{{ super() }}
{% endblock %}
