{% extends 'base.html' %}
{% block title %}
User Login Form
{% endblock %}
{% block header %}
<div class="form-check mx-auto" style="width: 480px" >
<p class="h1">User Login</p>
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
<form id="user-login-form" action="/login" class="mx-auto" style="width: 480px"
      method="POST">
    {% if form %}{{ form.hidden_tag() }}{% endif %}
      <div>
        {{ form.username.label }} {{ form.username }}
        {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div>
        {{ form.password.label }} {{ form.password }}
        {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div>
        {{ form.submit() }}
      </div>
    </form>
  <button type="submit"
          class="btn btn-primary bg-primary text-light"
          onclick="location.href='/register'">
    Register
  </button>
</div>
{% endblock %}
{% block javascript %}
{{ super() }}
{% endblock %}
